@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Pixels&display=swap');

.credits {
    font-family: 'Pixelify Sans', sans-serif;
    height: 100vh;
    background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSAgeyjrk2lcECISxLNLjWEx8S0Oz5gxp_L8uLOTw2j_w&s');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-size: 3rem;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: rgb(134, 241, 229);
    text-transform: uppercase;
    font-size: 5rem;
}

.main-menu {
    margin-top: 2vh;
    border-radius: 10px;
    padding: 0.5rem;
    background-color: rgb(134, 241, 229);
}