@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Pixels&display=swap');


.mainContainer {
  font-family: 'Pixelify Sans', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-size: 1.2rem;
  color: white;
  background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSAgeyjrk2lcECISxLNLjWEx8S0Oz5gxp_L8uLOTw2j_w&s');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
    
}

.mainContainer > img {
  width: 60%;
}

.mainContainer > p:nth-of-type(1){
  font-size: 3rem;
  margin: 2vh 0;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.mainContainer > p:nth-of-type(2){
  font-size: 1.5rem;
}

.score {
  font-size: 4rem;
}

.select {
  display: block;
  margin: 10px auto;
  border-radius: 5px;
  color: rgb(76, 13, 148);
  background: linear-gradient(45deg,  #eddecd 30%, #e8b368);
  font-size: 1.5rem;
}

.points > button{
  margin: 0 10px;
  width: 130px;
  height: 50px;
  border-radius: 10px;
  border: 1px solid beige;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}

.points > button.one {
  background-color: #df0909;
}

.points > button.two {
  background-color: #1920af;
}

.points > button.reset {
  background-color: #797979;
}


.main-menu {
  padding: 0.5rem;
  background-color: rgb(134, 241, 229);
  font-size: 1.75rem;
}